h1 {
    color: green;
    font-size: 5em;
    text-decoration: underline;
    background-color: gold;
}
.rex{
    color: purple;
    font-weight: 700;
    font-size: 25;
    border: 5px solid orange;
}